<section class="vh-100" style="background-color: #C1CFEA;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-7 col-xl-5">
  
          <div class="card mb-4 gradient-custom" style="border-radius: 25px;">
            <div class="card-body p-4">
  
              <div id="demo1" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators mb-0">
                  <li data-target="#demo1" data-slide-to="0" class="active"></li>
                  <li data-target="#demo1" data-slide-to="1"></li>
                  <li data-target="#demo1" data-slide-to="2"></li>
                </ul>
                <!-- Carousel inner -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="d-flex justify-content-between mb-4 pb-2">
                      <div>
                        <h2 class="display-2"><strong>{{weather.weather[0].avgtempC}}</strong></h2>
                        <p class="text-muted mb-0">{{weather.location}}</p>
                      </div>
                      <div>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp"
                          width="150px">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="card mb-4" style="border-radius: 25px;">
            <div class="card-body p-4">
  
              <div id="demo2" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators mb-0">
                  <li data-target="#demo2" data-slide-to="0"></li>
                  <li data-target="#demo2" data-slide-to="1" class="active"></li>
                  <li data-target="#demo2" data-slide-to="2"></li>
                </ul>
                <!-- Carousel inner -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                      <div class="flex-column">
                        <p class="small"><strong>{{weather.weather[0].hourly[3].tempC}}</strong></p>
                        <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                        <p class="mb-0"><strong>{{weather.weather[0].hourly[3].time}}</strong></p>
                        <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
                      </div>
                      <div class="flex-column">
                        <p class="small"><strong>{{weather.weather[0].hourly[4].tempC}}</strong></p>
                        <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                        <p class="mb-0"><strong>{{weather.weather[0].hourly[4].time}}</strong></p>
                        <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
                      </div>
                      <div class="flex-column">
                        <p class="small"><strong>{{weather.weather[0].hourly[5].tempC}}°C</strong></p>
                        <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
                        <p class="mb-0"><strong>{{weather.weather[0].hourly[5].time}}</strong></p>
                        <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
                      </div>
                      <div class="flex-column">
                        <p class="small"><strong>{{weather.weather[0].hourly[6].tempC}}°C</strong></p>
                        <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
                        <p class="mb-0"><strong>{{weather.weather[0].hourly[6].time}}</strong></p>
                        <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
                      </div>
                      <div class="flex-column">
                        <p class="small"><strong>{{weather.weather[0].hourly[7].tempC}}°C</strong></p>
                        <i class="fas fa-cloud-showers-heavy fa-2x mb-3" style="color: #ddd;"></i>
                        <p class="mb-0"><strong>{{weather.weather[0].hourly[7].time}}</strong></p>
                        <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <button type="button" class="btn btn-success" (click)="interetShownOnTrip()">Click here if intrested!</button>
        </div>
      </div>

    </div>
  </section>